<?php
$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->notPath('vendor')
    ->notPath('Resources');

return PhpCsFixer\Config::create()
    ->setRules([
        'array_syntax' => ['syntax' => 'short'],
        'header_comment' => [
            'header' => <<<EOF
This file is part of the Ambientia QueueCommand Bundle package.
EOF
        ],
    ])
    ->setFinder($finder);
